body {
  padding: 0;
  margin: 0;
}

.top_header {
  margin: 0;
}

.hum_btn {
  margin-left: 209px;
}

.content {
  display: flex;
  justify-content: center;

  background-image: url(./image/headershapesmobile.png) , url(./image/headerbackgroundmobile.png);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 852px;
  
}

.navbar {
  display: inline-flex;
  margin-top: 38px;
}

.nav-item {

  list-style: none;
  display: inline;
}

.desk-item {
  display: none;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 718px;
}

.intro {
  width: 327px;
  font-size: 49px;
  margin-top: 84px;
  margin-bottom: 0;
  color: #172b4d;
}

.paragraph {
  font-size: 20px;
  width: 332px;
  color: #344563;
  transition: background 1s, border 2s;
}

.paragraph:hover {
  background: linear-gradient(35deg, grey, azure, grey);
  border: 2px solid rgba(0, 17, 255, 0.384);
}

.conect_info {
  text-decoration: none;
  color: #7f8cff;
  margin-bottom: 0;
}

.social_item {
  padding: 0;
  list-style: none;
}

.social_item li {
  display: inline;
  margin-right: 31px;
}

.grid-container {
  display: grid;
  row-gap: 71px;
  margin-left: 29px;
}

.work_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 83%;
  margin-left: 15px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 579px;
  background-color: #fff;
}

.screenshoot {
  width: 295px;
  margin: 24px 24px 24px 15px;
  
}

.projectTitle {
  margin-left: 24px;
}

.canopy {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
}

.canopy li {
  display: inline;
  padding-right: 7px;
}

.work_paragraph {
  margin-top: 0;
  width: 295px;
  margin-left: 24px;
  font-size: 19px;
  color: #344563;
}

.lang {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
  margin-top: 0;
}

.hide {
  display: none;
}

.lang li {
  display: inline-flex;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}


.btn {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
  margin-left: 21px;
}

.work_section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 83%;
  margin-left: 15px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 629px;
  background-color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 10px;
  margin-top: 61px;
  height: 947px;
  border-top-right-radius: 30px;
  background-image: url(./image/header-background-mobile.png);
}

.about_title {
  width: 135px;
  margin-top: 58px;
}

.resume_btn {
  width: 191px;
  padding: 10px;
  margin-left: -8px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.languages {
  margin-top: 58px;
}

.vector {
  margin-left: 172px;
  margin-bottom: 9px;
}

.catagoty {
  list-style: none;
  padding-left: 0;
}

.catagoty li {
  width: 318px;
  border-radius: 6px;
  background-color: #f7f7f9;
  margin-bottom: 11px;
  margin-bottom: 34px;
}

.lang_name {
  margin-bottom: 10px;
  margin-left: 26px;
}

.lang_logo {
  margin-left: 21px;
}

.lists {
  list-style: none;
  padding: 0;
}

.lists li {
  margin-bottom: 12px;
}

.right_vecto {
  margin-left: 162px;
}

.right_vecto2 {
  margin-left: 242px;
}

.h_section {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.h_section2 {
  width: 20px;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.about-title {
  font-size: 47px;
  width: 30px;
  margin-bottom: 21px;
}

.about-connect {
  text-decoration: none;
  color: #72b7f9;
}

.about-paraghraph {
  font-size: 21px;
  width: 321px;
}

.button {
  color: #396df2;
}

.h_btn {
  font-size: 18px;
  margin: 0;
  color: #396df2;
}

.list_item {
  font-size: 24px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.lang-list li {
  padding-bottom: 20px;
}

.child-list {
  list-style: none;
  padding-left: 0;
}

.child-list li {
  padding-bottom: 11px;
}

.child-list2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  background-color: #e1e1e1;
  width: 90%;
  height: 65px;
  border-radius: 9px;
}

.h-lang {
  margin-left: 20px;
  margin-top: 0;
}

.item-list {
  font-size: 23px;
}

.victor {
  float: right;
}

.contact {
  background-image: url(./image/contactbg.png), url(./image/Contactme.png);
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 258px, 448px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.contact-body {
  height: 622px;
  background-size: 279px;
  margin-left: 20px;
}

.h_contact {
  color: #fff;
  font-size: 45px;
  margin-top: 66px;
  margin-left: 84px;
  margin-bottom: 0;
}

.contact-paragraph {
  margin-left: 42px;
  color: #fff;
  font-size: 22px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
}

.name,
.email {
  margin-left: 39px;
  height: 33px;
  width: 297px;
  margin-bottom: 22px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
}

.text_area {
  margin-left: 39px;
  width: 297px;
  margin-bottom: 25px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
  height: 200px;
}

.contact_btn {
  width: 127px;
  padding: 10px;
  margin-left: 38px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.contact_btn:hover {
  background-color: #48f242;
}

.border_img {
  margin-left: 107px;
}

input {
  padding-left: 10px;
}

.break {
  display: none;
}

@media screen and (min-width: 768px) {
  .top_header {
    width: 100%;

    height: 72px;
  }

  .hum_btn {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
    background-image: url(./image/desktop-img/Header\ bg@2x.png), url(./image/desktop-img/headerbackground\ .png);
    background-repeat: no-repeat;
    background-size: 100%, cover;
    height: 852px;
    width: 100%;

  }

  .header-wrapper {
    margin-top: 115px;
  }

  .intro {
    font-size: 40px;
    width: 300px;
  }

  .paragraph {
    font-size: 23px;
    width: 800px;
  }

  .grid-container {
    margin-top: 185px;
    display: grid;
    row-gap: 88px;
  }

  .work_section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-width: 1px;

    width: 100%;

    margin-left: 24px;
    margin-right: 24px;
    border-radius: 30px;
    border-style: ridge;
    height: 497px;
    background-color: #fff;
  }

  .screenshoot {
    width: 563px;
    margin: 20px 20px 10px 20px;
  }

  .right-side {
    margin-top: 47px;
    flex-direction: column;
    margin-left: 28px;
  }

  .h_section {
    font-size: 40px;
  }
  .canopy {
    list-style: none;
    padding-left: 0;
  }

  .canopy li {
    display: inline;
    padding-right: 10px;
    color: gray;
  }

  
  .work_paragraph {
    font-size: 20px;
    width: 474px;

  }


  .h_btn {
    font-size: 18px;
    color: #4274f2;
  }

  .btn {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #4274f2;
    border-radius: 5px;
    margin-left: 24px;
  }


  .work_section2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    border-width: 1px;
    width: 91%;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 30px;
    border-style: ridge;
    height: 497px;
    background-color: #fff;
  }

  .left-side {
    flex-direction: column;
    margin-left: 63px;
    width: 400px;
    margin-right: 120px;
    margin-top: 47px;
  }
  .screenshoot2 {
    width: 499px;
    margin: 20px 20px 13px 0;
  }

  .work_paragraph {
    font-size: 20px;
    width: 474px;

  }

  .about {
    background-image: url(./image/aboutmyselfback.png);
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    width: 1279px;
    height: 565px;
  }

 
  .left-about {
    flex-direction: column;
    margin-left: 63px;
    width: 400px;
    margin-right: 216px;
  }

  .about {
    background-image: url(./image/aboutmyselfback.png);
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    width: 1279px;
    height: 565px;
  }
  .about-paraghraph {
    font-size: 25px;
    width: 585px;
  }


  .contact {
    background-image: url(./image/desktop-img/contactformbackgroundshapes.png),
    url(./image/desktop-img/background.png);
    background-size: 1440px;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 718px;
  width: 1440px;
  }


  .contact {
    background-image: url(./image/desktop-img/contactformbackgroundshapes.png), url(./image/desktop-img/background.png);
    background-size: 1440px, cover;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 718px;
  }

  .h_contact {
    color: #fff;
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 51px;
    margin-top: 91px;
  }
  .contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 544px;
    width: 383px;
  }

  .contact-paragraph {
    font-size: 22px;
    text-align: center;
    width: 397px;
    color: #fff;
    margin-left: 0;
  }
  
  .name,
  .email {
    margin-left: 1px;
    height: 33px;
    width: 388px;
    margin-bottom: 22px;
    border-radius: 6px;
    border: 1px solid #cfd8dc;
  }

  .text_area {
    margin-left: 1px;
    width: 388px;
    margin-bottom: 25px;
    border-radius: 6px;
    border: 1px solid #cfd8dc;
    height: 200px;
  }

  .contact_btn {
    width: 186px;
    padding: 10px;
    margin-left: 115px;
    background-color: #fff;
    border: 1px solid #4274f2;
    border-radius: 5px;
  }


  .contact_btn:hover {
    background-color: #48f242;
  }

  .border_img {
    display: none;
  }

  .desk-item {
    display: inline;
  }

  .nav-item li {
    display: inline;
    padding-right: 53px;
  }

  .nav-item li a {
    text-decoration: none;
    color: #6070ff;
    font-size: 21px;
  }

  .logo {
    margin-right: 408px;
    position: relative;
    animation-name: action;
    animation-duration: 4s;
  }

  @keyframes action {
    0%   {background-color:lightblue; left:0px; top:0px;}
    25%  {background-color:darkblue; left:200px; top:0px;}
   
  }

  .about {
    background-image: url(./image/aboutmyselfback.png);
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    width: 1279px;
    height: 565px;
  }
  

  .left-about {
    flex-direction: column;
    margin-left: 63px;
    width: 400px;
    margin-right: 216px;
  }

  .about-title {
    width: 60px;
    font-size: 58px;
    margin-bottom: 0;
  }

  .about-paraghraph {
    color: #344563;
    font-size: 20px;
    font-size: 26px;

  }
  

  .about-connect {
    text-decoration: none;
    color: #7f8cff;
  }

  .resume_btn {
    width: 191px;
    padding: 10px;
    margin-left: -8px;
    background-color: #fff;
    border: 1px solid #4274f2;
    border-radius: 5px;
  }

  
  .lang-list {
    display: inline;
    margin-top: 60px;
  }
  
  .lang-list li {
    list-style: none;
    padding-bottom: 20px;
  }
  
  .item-list {
    margin-top: 68px;
    font-size: 28px;
    margin-right: 398px;
    font-size: 32px;
  }
  
  .child-list {
    padding-left: 0;
  }
  
  .child-list li {
    list-style: none;
    display: inline;
    padding-right: 10px;
  }
  
  .victor {
    float: right;
  }
  


  .lang-list {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .lang-list li {
    list-style: none;
    padding-bottom: 20px;
    width: 553px;
  }

  .item-list {
    margin-top: 68px;
    font-size: 28px;
    font-size: 32px;
  }

  .child-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }

  .child-list li {
    list-style: none;
    display: inline;
    padding: 8px;
    width: 145px;
    padding-bottom: 0;
  }

  .child-list2 {
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    width: 127px;
    height: 103px;
    border-radius: 19px;
  }

  .victor {
    float: right;
  }
}
