body {
  padding: 0;
  margin: 0;
}

.top_header {
  margin: 21px;
}

.hum_btn {
  margin-left: 209px;
}

.navbar {
  display: inline-flex;
  margin-top: 38px;
}

.content {
  background-image: url(./image/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 718px;
}

.intro {
    width: 327px;
    font-size: 49px;
    margin-top: 84px;
    margin-bottom: 0;
    color:#172B4D;
}

.paragraph {
  font-size: 20px;
  width: 332px;
  color:#344563;
}

.conect_info {
  text-decoration: none;
  color: #7f8cff;
}

.social_item {
  padding: 0;
  list-style: none;
}

.social_item li {
  display: inline;
  margin-right: 31px;
}
