body {
  padding: 0;
  margin: 0;
}

.top_header {
  margin: 21px;
}

.hum_btn {
  margin-left: 209px;
}

.navbar {
  display: inline-flex;
  margin-top: 38px;
}

.content {
  background-image: url(./image/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 718px;
}

.intro {
  width: 327px;
  font-size: 49px;
  margin-top: 84px;
  margin-bottom: 0;
  color: #172b4d;
}

.paragraph {
  font-size: 20px;
  width: 332px;
  color: #344563;
}

.conect_info {
  text-decoration: none;
  color: #7f8cff;
  margin-bottom: 0;
}

.social_item {
  padding: 0;
  list-style: none;
}

.social_item li {
  display: inline;
  margin-right: 31px;
}

.grid-container {
  display: grid;
  row-gap: 71px;
}

.work_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 555px;
  background-color: #fff;
}

.screenshoot {
  width: 295px;
  margin: 24px 24px 24px 15px;
}

.projectTitle {
  margin-left: 24px;
}

.canopy {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
}

.canopy li {
  display: inline;
  padding-right: 7px;
}

.work_paragraph {
  margin-top: 0;
  width: 295px;
  margin-left: 24px;
  font-size: 19px;
  color: #344563;
}

.lang {
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
  margin-top: 0;
}

.lang li {
  display: inline-flex;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.btn {
  padding: 10px;
  margin-left: 24px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.work_section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-width: 1px;
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 30px;
  border-style: ridge;
  height: 603px;
  background-color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 10px;
  margin-top: 61px;
  height: 947px;
  border-top-right-radius: 30px;
  background-image: url(./image/header-background-mobile.png);
}

.about_title {
  width: 135px;
  margin-top: 58px;
}

.resume_btn {
  width: 191px;
  padding: 10px;
  margin-left: -8px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.languages {
  margin-top: 58px;
}

.vector {
  margin-left: 172px;
  margin-bottom: 9px;
}

.catagoty {
  list-style: none;
  padding-left: 0;
}

.catagoty li {
  width: 318px;
  border-radius: 6px;
  background-color: #f7f7f9;
  margin-bottom: 11px;
  margin-bottom: 34px;
}

.lang_name {
  margin-bottom: 10px;
  margin-left: 26px;
}

.lang_logo {
  margin-left: 21px;
}

.lists {
  list-style: none;
  padding: 0;
}

.lists li {
  margin-bottom: 12px;
}

.right_vecto {
  margin-left: 162px;
}

.right_vecto2 {
  margin-left: 242px;
}

.h_section {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 43px;
}

.h_about {
  font-size: 49px;
  width: 100px;
  margin-bottom: 0;
}

.button {
  color: #396df2;
}

.h_btn {
  font-size: 18px;
  margin: 0;
  color: #396df2;
}

.list_item {
  font-size: 24px;
}

.contact {
  background-image: url(./image/contactbg.png), url(./image/Contactme.png);
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 203px, 375px;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.contact-body {
  height: 622px;
  background-size: 279px;
}

.h_contact {
  color: #fff;
  font-size: 45px;
  margin-top: 66px;
  margin-left: 84px;
  margin-bottom: 0;
}

.contact-paragraph {
  margin-left: 42px;
  color: #fff;
  font-size: 22px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
}

.name,
.email {
  margin-left: 39px;
  height: 33px;
  width: 297px;
  margin-bottom: 22px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
}

.text_area {
  margin-left: 39px;
  width: 297px;
  margin-bottom: 25px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
  height: 200px;
}

.contact_btn {
  width: 127px;
  padding: 10px;
  margin-left: 38px;
  background-color: #fff;
  border: 1px solid #4274f2;
  border-radius: 5px;
}

.contact_btn:hover {
  background-color: #48f242;
}

.border_img {
  margin-left: 107px;
}

input {
  padding-left: 10px;
}
